Week\ 5/Library
Week\ 5/Temp
Week\ 5/Midterm_Bryan_L_windows_Data
.DS_Store
.mov
Week 5/Community_DEMO_FINAL.app
Week 5/CRIT_DRAFT.app
Week 5/Assets/Video/Daily_MIDDLE_CUT.mov
Week 5/Assets/Video/To be continued.mov
Week 5/Assets/Video/Ivanhoe_Sega.mov
Week 5/Assets/nebulousflynn/Ivanhoe_test.ply
Week 5/Assets/Audio/THE_LOOP.wav
Week 5/Assets/Audio/loop.wav
Week 5/Assets/Audio/New Idea 4_11.wav
Week 5/Midterm_Bryan_L_windows_Data/sharedassets3.assets
Week 5/Midterm_Bryan_L_windows_Data/sharedassets0.resource
Week 5/Midterm_Bryan_L_windows_Data/sharedassets1.assets
Week 5/Midterm_Bryan_L_windows_Data/sharedassets2.resource